*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
body{
    height: 100%;
    background-color: darksalmon;
    background-image: url(images/bg-intro-desktop.png);
    padding: 10%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.title-subtitle{
    color: white;
    width: 50%;
}