*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #FF7978;
    background-image: url(images/bg-intro-desktop.png);
    min-width: 100vw;
    min-height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.title-subtitle{
    color: white;
    width: 50%;
    padding: 8%;
}
.title{
    font-size: 220%;
    font-family: 'Poppins', sans-serif;
}
.sub-title{
    font-size: 70%;
    margin-top: 5%;
}

/*
form css
*/
.form-container{
    width: 45%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    margin-right: 2%;
}

.button-one{
    background-color: rgb(124, 12, 124);
    margin-bottom: 5%;
    width: 90%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 85%;
    color: white;
}

.button-one-span{
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}
.form{
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    padding: 6%;
    background-color: white;
}
.input{
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    width: 440px;
}
.button-two{
    cursor: pointer;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
    height: 30px;
    color: white;
    background-color: lightgreen;
    border: 2px solid lightgreen;
}
.button-two:hover {
    background-color: green;
    border: 2px solid green;
    cursor: pointer;
  }
.terms-and-services{
    font-size: 50%;
}
.terms-and-services span{
    cursor: pointer;
    color: #FF7978;
    font-weight: bold;
}
.terms-and-services span:hover{
    color: #f35454;
}

@media (max-width: 950px){
    .container{
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        width: 90%;
        margin: 2% 4%;
    }
    .title-subtitle{
        width: 80%;
    }
    .sub-title{
        font-size: 90%;
    }
    .form-container{
        width: 80%;
    }
    .input{
        width: 550px;
        height: 50px;
        margin: 2px, 3px;
    }
    .terms-and-services{
        font-size: 75%;
    }
}
@media (max-width: 900px){
    .input{
        width: 450px;
    }
}
@media (max-width: 720px){
    .container{
        width: 100%;
        margin: 0;
    }
}
@media (max-width: 675px){
    .container{
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 9% 0;
    }
    .form-container{
        margin-top: 5%;
    }
    .form{
        margin-top: 2%;
    }
    .input{
        width: 420px;
        margin: 3% 0;
    }
}
@media (max-width: 625px){
    .input{
        width: 350px;
    }
}
@media (max-width: 520px){
    .container{
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        min-height: 100vh;
        min-width: 100vw;
    }
    .input{
        width: 350px;
    }
}
@media (max-width: 500px){
    .input{
        width: 300px;
    }
    .container{
        margin: 0;
    }
}
@media (max-width: 427px){
    .input{
        width: 260px;
    }
    .container{
        margin: 0;
    }
}
