*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100%;
    background-color: darksalmon;
    background-image: url(images/bg-intro-desktop.png);
    padding: 10%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.title-subtitle{
    color: white;
    width: 50%;
    padding: 8%;
}
.title{
    font-size: 250%;
}
.sub-title{
    font-size: 80%;
    margin-top: 10%;
}

/*
form css
*/

.form{
    background-color: white;
    padding: 5%;
    border-radius: 3%;
}
.button-one{
    background-color: rgb(146, 21, 146);
    border: 2px solid rgb(146, 21, 146);
    padding: 1%;
    width: 100%;
    color: white   
}
.button-one-span{
    font-family: 'Poppins', sans-serif;
}